@model List<TranslationRow>;

@{
    ViewData["Title"] = "SBen Converter";
}
<div class="align-middle">
    <div class="text-center">
        <h1 class="display-4">SBen Converter</h1>
        <br />
        <h4 class="text-center">
            Dekompletacja opakowań zbiorczych
        </h4>
        <br />
    </div>
    @*<div class="row">
            <div class="col-md-6 offset-3 mb-1">
                <a href='@Url.Action("Index","Converter")' class="btn btn-outline-primary btn-block">START</a>
            </div>
        </div>*@
    <div class="row">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>EAN Dostawcy</th>
                    <th>Nazwa docelowa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SupplierItemCode</td>
                        <td>@item.BuyerItemDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>