@{
    ViewData["Title"] = "Converter";
}

<div class="text-center">
    <h1 class="display-4">SBen Converter</h1>
    <br />
    <h4 class="text-justify">System umożliwiający konwersję plików dostawy do formatu akceptowalnego w systemie SBen</h4>
    <br />
</div>
<div>
    <div class="row">
        <div class="col-md-12 mb-1">
            <div id="step1-info" class="align-middle">
                <p>1. Wybierz dostawcę</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-3">
            <select class="custom-select" id="selectMenu" onchange="onSupplierSelect()">
                <option selected>Wybierz dostawcę</option>
                <option value="1">CocaCola (Comarch EDI)</option>
                <option value="2">CocaCola (TXT file)</option>
                <option value="3">Carrefour (Magnat)</option>
            </select>
        </div>
    </div>
    <div class="row" id="step2-info" hidden>
        <div class="col-md-12 mb-1">
            <div class="align-middle">
                <p>2. Wybierz plik dostawy</p>
            </div>
        </div>
    </div>
    <div class="row" id="selectFile" hidden>
        <div class="col-md-8 mb-3">
            <div class="custom-file">
                <input type="file" name="deliveryFile" class="custom-file-input form-control-sm" id="deliveryFile" />
                <label class="custom-file-label" for="deliveryFile" data-browse="Przeglądaj">Wybierz plik</label>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <div id="loadingInfo" class="align-middle" hidden>
                Przetwarzam...
            </div>
        </div>
        <div class="col-md-2 mb-3" id="loading-spinner" hidden>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12" id="response">

        </div>
    </div>
    <div class="row" id="error" hidden>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>BŁĄD!</strong> Plik nie ma zgodnego formatu!
        </div>
    </div>
    <div id="downloadButton" hidden>
        <a class="btn btn-outline-primary" onclick="hideDownloadButtons(true)" href='@Url.Action("DownloadFile", "Converter" , new { importType="CC", fileVersion="short" })'
           download>Pobierz plik dla aplikacji SBen</a>
    </div>
</div>
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                Wystąpił błąd
            </div>
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Zamknij</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFormTitle">Dodanie dekompletacji</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editFormBody">
                <div>
                    <div class="form-row">
                        <div class="col-5 mb-2">
                            <input type="text" readonly class="form-control" id="SupplierItemCode" value="EAN Dostawcy">
                        </div>
                        <div class="col-5 mb-2">
                            <input type="text" readonly class="form-control" id="SupplierItemDescription" placeholder="Nazwa dostawcy">
                        </div>
                        <div class="col-2 mb-2">
                            <input type="text" readonly class="form-control" id="SupplierUnitOfMeasure" placeholder="JM dostawcy">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-5 mb-2">
                            <input type="text" class="form-control" id="BuyerItemCode" placeholder="EAN docelowy">
                            <small id="buyerCodeError" hidden class="form-text text-danger">EAN musi zostać uzupełniony.</small>
                        </div>
                        <div class="col-5 mb-2">
                            <input type="text" class="form-control" id="BuyerItemDescription" placeholder="Nazwa odbiorcy">
                            <small id="buyerItemDescriptionError" hidden class="form-text text-danger">Nazwa odbiorcy musi zostać uzupełniona.</small>
                        </div>
                        <div class="col-2 mb-2">
                            <input type="text" class="form-control" id="BuyerUnitOfMeasure" placeholder="JM odbiorcy">
                            <small id="buyerUnitOfMeasureError" hidden class="form-text text-danger">Brak jednostki miary.</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-3 mb-2">
                            <label class="col-form-label">Wprowadź przelicznik</label>
                            <small id="ratioError" hidden class="form-text text-danger">Przelicznik musi by większy od 0</small>
                        </div>
                        <div class="col-2 mb-2">
                            <input type="text" class="form-control" id="Ratio" placeholder="Przelicznik">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="editFormFooter">
                <button type="button" style="width: 100px;" onclick="addConversion()" class="btn btn-outline-success">Zapisz</button>
                <button type="button" style="width: 100px;" class="btn btn-outline-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Converter.js"></script>
}