@{
ViewData["Title"] = "SBen Converter";
}
</div>
<div class="align-middle">
    <div class="row" style="height: 100px;">
    </div>
    <div class="row" style="">
        <div class="col-md-6 offset-md-3">
            <div class="text-center" style="height: 100px;display:flex;justify-content:center;align-items:center;">
                <h1 class="display-4">SBen Converter</h1>
            </div>
        </div>
    </div>
    <div class="row" style="">
        <div class="col-md-10 offset-md-1">
            <div class="text-center">
                <div style="height: 100px;display:flex;justify-content:center;align-items:center;">
                    <h4>System umożliwiający konwersję plików dostawy do formatu akceptowalnego w systemie SBen</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">     
        <div class="col-md-4 offset-md-4">
            <a href='@Url.Action("Index","Converter")' class="btn btn-outline-primary btn-block">START</a>
        </div>
    </div>
</div>