@{
    ViewData["Title"] = "Strona startowa";
}
<div style="height: 200px;">

</div>
<div class="align-middle">
    <div class="text-center">
        <h1 class="display-4">SBen Converter</h1>
        <br />
        <h4 class="text-justify">System umożliwiający konwersję plików dostawy do formatu akceptowalnego w systemie SBen</h4>
        <br />
    </div>
    <div class="row">
        <div class="col-md-6 offset-3 mb-1">
            <a href="@Url.Action("Index","Converter")" class="btn btn-outline-primary btn-block">START</a>
        </div>
    </div>
</div>

